body {
    background-color: rgb(235, 204, 254);
  }
  
  h1, h2 {
    color: rgb(255, 255, 255);;
  }
  
  p {
    color: rgb(81, 33, 137);
    font-family: verdana;
    font-size: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(38, 28, 234); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(235, 204, 254);
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: white;
    font-weight: bold;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    position: relative;
    left: 250px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }